@charaset "utf-8";

/*::::::::::::::::::::::::::::::::
  
  filename: main.css
  
  ::::::::::::::::::::::::::::::::*/


/******************** RESET ********************/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,/*strong,*/th,var{font-style:normal;font-weight:normal;}
ul,ol,li{list-style:none;}
caption,th{text-align:left;}
/* h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;} */
q:before,q:after{content:'';}
abbr,acronym{border:0;}


/******************** MAIN ********************/
body{
  font-family:Verdana,Arial,"Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3",Osaka,"MS P Gothic","ＭＳ Ｐゴシック",sans-serif;
  background-color: #000;
  color: #333;
  font-size: 12px;
}

/******************** CLASS ********************/
.scroll {
	overflow: scroll;   /* スクロール表示 */ 
	width: 400px;
	height: 200px;
	color: #000;
	background-color: rgb(180,180,180);
	border-top-style: inset;
	border-right-style: inset;
	border-bottom-style: inset;
	border-left-style: inset;
	border-width: 5px;
}

.scroll a{
	color: #000;
}

.scroll a:hover{
	color: rgb(50,50,50);
}

.main_message {
	overflow: visible;   /* 表示 */ 
	width: 580px;
	height: 80px;
	color: #000;
	background-color: rgb(255,255,255);
	border-top-style: double;
	border-right-style: double;
	border-bottom-style: double;
	border-left-style: double;
}

.main {
	margin: 0 auto;
	width: 980px;
	color: #FFFFFF;
}


/******************** HEADER ********************/
div.header{
	margin: 0 auto;
	width: 980px;
	height: 38px;
	padding-top: 14px;
	color: rgb(235,235,235);
}

div.header a{
	color: rgb(255,255,255);
	border: none;
	font-size: 16px;
	font-weight: bold;
	font-family:'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Lucida Grande',Meiryo, メイリオ, sans-serif;
}

div.header a:hover{
	color: rgb(200,200,200);
}

/******************** CONTENTS ********************/
#left {
	float: left;
	width: 600px;
	margin-left: 8px;
}

#right {
	float: right;
	width: 350px;
	margin-right: 8px;
}

#highschool{

}

#highschool a{
	#color: rgb(255,255,255);
	color: #00ffff;
}

#technic a{
	#color: rgb(255,255,255);
	color: #00ffff;
}

/******************** FOOTER ********************/
div.footer{
	clear: both;
	text-align: center;
	color: rgb(200,200,200);
}




/******************** LINK ********************/
.topViewer {
    margin: 0 ;
    width: 584px;
	height: 324px;
    text-align: left;
    overflow: hidden;
}

.topViewer ul {
    width: 584px;
	height: 324px;
    text-align: left;
    overflow: hidden;
    position: relative;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.topViewer ul li {
    top: 0;
    width: 584px;
	height: 324px;
    display: none;
    position: absolute;
}

